.aboutMe{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.aboutMe h2{
    margin-top:10vh;
}

.aboutMeText{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.CV {
    width: 100%;
    align-items: center;
    height: 15vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
