.footer {
  margin-top: 7vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  
 
}
.identite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1.5vh;
  align-items: start;
  padding-left: 5vw;
 
}

.identite h1 {
  font-size: 2.5vh;
  font-weight: bold;
  margin: 0;
  padding: 0;

}

.identite h2 {
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
  font-size: 2vh;

}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
#linkedinF{
width: 3vw;
}
#gitF {
  width: 3vw;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  padding-right: 5vw;
  
}

.contactLink a {
  color: white;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: solid white 1.5px;
}

@media screen and (max-width: 800px) {

.identite h1 {
    font-size: 1.7vh;
    font-weight: bold;
    margin: 0;
    padding: 0;

  }

  .identite h2 {
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;
    font-size: 1.5vh;

  }
    #linkedinF {
      width: 6vw;
    }
  
    #gitF {
      width: 6vw;
    }
    .contactLink {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: white;
  
    }
  
    .contactLink a {
      color: white;
      font-size: 3vw;
      margin-top: 1vh;
      margin-bottom: 1vh;
      border-bottom: solid white 2px;
    }
}


