@font-face {
  font-family: Raleway;
  src: url(./assets/Raleway-Thin.ttf);
}
@font-face {
  font-family: RalewayN;
  src: url(./assets/Raleway-Regular.ttf);
}

* {
  font-family: RalewayN;
}

h1 {
  
  margin-top: 7%;
  font-weight: 400;
  font-size: 1.5vw;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: none;
  color: white;
}
h2 {
  
  font-weight: 400;
  font-size: 2.7vw;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: none;
  color: white;
}
h3 {

  font-weight: 400;
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: none;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45.21deg, #293681 10%, #03d3a9 111.58%);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Photo {
  width: 15vw;
  height: auto;
  padding: 3%;
  margin-left: 7%;
  margin-top: 30%;
}

a {
  color: black;
  text-decoration: none;
}

.homeClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectGrid {
  display: grid;
  padding-top: 5vw;
  padding-bottom: 1.5vw;
  min-height: 15vh;
  width: 95%;
  padding-left: 3vw;
  padding-right: 3vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-auto-rows: min-content;
}
.conteneurImg {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.conteneurImg h3 {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
  text-align: center;
  z-index: -10;
}
.conteneurImg:hover .miniPic {
  opacity: 0.2;
  z-index: 90;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.miniPic {
  display: block;
  width: 100%;
  z-index: 200;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.miniPic:hover {
  opacity: 0.15;
  z-index: 90;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .projectGrid {
    display: grid;
    padding-top: 5vw;
    padding-bottom: 1.5vw;
    min-height: 15vh;
    width: 70%;
    padding-left: 3vw;
    padding-right: 3vw;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 8vw;
    grid-auto-rows: min-content;
  }
  .conteneurImg h3 {
    top: 20%;
    font-size: 6vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 6vw;
    text-align: center;
  }
}
